# Unity Standard Ignore Rules
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Explicitly ignore ArtifactDB if it's in a subfolder
**/Library/ArtifactDB

# Logs and temporary files
*.log
.utmp/

# Blender auto-save files
*.blend1 [cite: 2]
*.blend1.meta [cite: 2]

# Memory and Recordings
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Editor Specifics (JetBrains / Visual Studio)
/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user
.vs/
.gradle/

# Project and Solution files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Metadata generated for ignored files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash reports
sysinfo.txt
mono_crash.*

# Build Outputs
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Services and Tools
crashlytics-build.properties
InitTestScene*.unity*

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting [cite: 3]
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db [cite: 3]
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta [cite: 3]
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers [cite: 3]
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta [cite: 3]

# Play mode tests scene
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
My project/Library/ArtifactDB
My project/Library/ArtifactDB
My project/Library/ArtifactDB-lock
/My project/Library
/My project/Library
